<h1><%= @user.first_name %>'s events</h1>

<div class="container">
<table class="table well">
	<tr>
		<th>location</th>
		<th>Time</th>
		<th>Date</th>
	</tr>

<% @events.each do |event| %>
	<tr>
		<td><%= event.event_title %></td>		
		<td><%= event.place %></td>
		<td><%= event.time %></td>
		<td><%= event.date %></td>
		<td><%= link_to 'Add guests', new_guest_list_path %></td>

	</tr>
<% end %>
</table>

<%= link_to "All users", users_path %>
</div><!--/.container-->
